@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --olive-tint: 90 10% 83%;
    --lavender-tint: 270 24% 96%;
    --tan: 34 44% 69%;
    --sage-gray: 96 11% 82%;
    --forest-green: 146 100% 8%;

    --deep-forest: 146 100% 7.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}




html {
  scroll-behavior: smooth!;
  scroll-snap-type: y mandatory;
}

.hero{
  line-height: 600px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.section-animate {
  animation: swipe 50s linear infinite backwards;
}

.rev-section-animate {
  animation: revswipe 50s linear infinite backwards;
}

.rotate {
  animation: rotateAnimation 40s infinite linear;
}

.rev-rotate {
  animation: reverseRotate 40s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reverseRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes swipe {
  0% {
    transform: translate(0, -150%);
  }
  100% {
    transform: translate(0, 0%);
  }
}

@keyframes revswipe {
  0% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0, -150%);
  }
}

@media screen and (max-width: 1024px) {
  @keyframes swipe {
    0% {
      transform: translate(0, -50%);
    }
    100% {
      transform: translate(0, 0%);
    }
  }
  @keyframes revswipe {
    0% {
      transform: translate(0, 0%);
    }
    100% {
      transform: translate(0, -50%);
    }
  }
}
/* globals.css or tailwind.config.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Triangle Ribbon CSS */
.ribbon-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

.ribbon {
  position: absolute;
  left: -40px;
  top: 20px;
  z-index: 50;
  width: 200px;
  background: #FFD700;
  color: #002813;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-45deg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
